.container{
    position: sticky;
    top: 40px;
    padding: 20px;
    height: 100vh;
}
.list{
    list-style: none;
}

.cat{
    margin: 10px 0px;
    font-size: 13px;
    font-weight: bold;
    color: var(--textSoft);
}