.container{
    display: flex;
    background-color: var(--bgSoft);
    width: 100%;
    height: 4rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    
    align-items: center;
}

.title{
    padding: 25px;
    font-weight: bold;
    font-size: larger;
}

